
.sellgirl_player_list hr {
    clear: both;
    float: left;
    border-top: none;
    width: 100%;
    border: dotted;
    border-top-width: medium;
    border-top-style: dotted;
    border-top-color: currentcolor;
    color: #c3d4cf;
    border-top: 0px;
}

.sellgirl_player_list {
    /*position: absolute;*/ /*没有这个属性的话高度撑不开.其实没有也行,只要下面的a不要使用float:left*/
    /*top: 60px;*/ /*js控制高度*/
    /*left: 1px;*/
    display: block;
    background-color: white;
    border: 3px double green;
    padding: 5px;
    background-color: #ffffff;
    /* for IE */
    filter: alpha(opacity=60);
    /* CSS3 standard */
    opacity: 0.6;
    clear: both;
}

.sellgirl_player_list a {
    /*float: left;*/
    text-decoration: none;
    /*color: #333;*/
}

.sellgirl_player_list_top a {
    /*float: left;*/
    margin-right: 5px;
    padding: 0px 5px;
    border-right: dotted 1px black;
    border-bottom: dotted 1px black;
    /*text-decoration: underline;*/
    line-height: 22px;
}

.sellgirl_player_list_top a:hover {
    text-decoration: underline;/*这个样式会使.sellgirl_player_list_top a里的该样式无效*/
    background-color: #c7d1d6;
}

a:link, a:visited, a:active, a:hover {
    color: black; /*#333;*/
}
