<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="e:/mypage/html_all" path="404.htm" responseMode="File" />
          <error statusCode="404" subStatusCode="0" prefixLanguageFilePath="e:/mypage/html_all" path="404.htm" responseMode="File" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <!--<httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="%SystemDrive%\inetpub\custerr" path="\404.htm" responseMode="File" />
            <error statusCode="404" subStatusCode="0" path="/404.htm" responseMode="ExecuteURL" />
        </httpErrors>-->
    </system.webServer>
    <system.web>
        <customErrors>
            <error redirect="http://192.168.1.51:19002/zh-CN/404.htm" statusCode="404" />
        </customErrors>
    </system.web>
</configuration>
